<div class="row justify-content-center">
  <div class="col-3 container border m-3 p-3">
    <div>
      <h1 class="text-center text-monospace">Oh! Null? 회원가입</h1>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group">
        <%= f.label :email, "이메일" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :username, "사용자이름 (영어)" %><br />
        <%= f.text_field :username, autocomplete: "username", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password, "비밀번호" %>
        <% if @minimum_password_length %>
        <em>(최소 <%= @minimum_password_length %> 글자)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "비밀번호 확인" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="actions form-group">
        <%= f.submit "회원가입", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
