<div class="user-show-details d-block" style="position: sticky; top: calc(90px + 1rem);">
  <div class="user-show-details-avatar">
    <% if @user.user_profile.avatar.attached? %>
      <%= image_tag @user.avatar(256), class: "img-fluid rounded" %>
    <% else %>
      <%= adorable_avatar(@user.email, 200) %>
    <% end %>
  </div>
  <div class="user-show-details-meta py-2 px-1">
    <h4><%= @user.username %></h4>
    <h6><%= @user.user_profile.name %></h6>
    <p class="font-weight-light"><%= mail_to @user.email, @user.email, class: "text-dark" %></p>
    <p class="font-weight-light"><%= link_to @user.user_profile.website, @user.user_profile.website, class: "text-dark" %></p>
    <p class="font-weight-light"><%= @user.user_profile.location %></p>
    <p class="font-weight-light font-italic"><%= @user.user_profile.bio %></p>
    <p class="font-weight-light"><%= l @user.created_at %> 시작</p>
  </div>
  <% if user_signed_in? and current_user != @user %>
    <% if current_user.following?(@user) %>
      <%= link_to "언팔로우", relationship_path(@user), method: :delete, class: "btn btn-block btn-light" %>
    <% else %>
      <%= button_to "팔로우", relationships_path({ user: @user.id }), method: :post, class: "btn btn-block btn-dark" %>
    <% end %>
  <% end %>
</div>
