<div class="row justify-content-center">
  <div class="col-8 col-xl-8 col-md-12 col-sm-12">
    <div class="row">
      <div class="col-3 col-md-4">
        <%= render @user %>
      </div>
      <div class="col-9 col-md-8">
        <ul class="nav nav-pills bg-white" style="margin-bottom: 1rem; position: sticky; top: calc(90px + 1rem);">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#posts">발행글 목록</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#posts">팔로잉 <%= @user.followings.size %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#posts">팔로워 <%= @user.passive_relationships.size %></a>
          </li>
          <% if @same_user %>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#draft">저장글 목록</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#setting">개인정보</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#security">보안설정</a>
            </li>
          <% end %>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="posts">
            <%= render partial: "components/post_list_item", collection: @posts, as: :post, locals: { has_user: false } %>
          </div>
          <% if @same_user %>
          <div class="tab-pane fade" id="draft">
            <%= render partial: "components/post_list_item", collection: @unpublished_posts, as: :post, locals: { has_user: false } %>
          </div>
          <div class="tab-pane fade" id="setting">
            <%= form_with(model: @user.user_profile, local: true, html: { autocomplete: "off" }) do |form| %>
              <div class="form-group">
                <%= form.label :avatar %>
                <%= form.file_field :avatar, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= form.label :name %>
                <%= form.text_field :name, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= form.label :bio %>
                <%= form.text_area :bio, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= form.label :website %>
                <%= form.text_field :website, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= form.label :location %>
                <%= form.text_field :location, class: "form-control" %>
              </div>

              <%= form.submit "저장하기", class: "btn btn-primary" %>
            <% end %>
          </div>
          <div class="tab-pane fade" id="security">
            <p>Curabitur dignissim quis nunc vitae laoreet. Etiam ut mattis leo, vel fermentum tellus. Sed sagittis rhoncus venenatis. Quisque commodo consectetur faucibus. Aenean eget ultricies justo.</p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
