<%= form_with(model: post, local: true, html: { autocomplete: "off" }) do |form| %>
  <div class="form-group d-flex justify-content-end">
    <%= form.submit "저장하기", class: "btn btn-outline-dark" %>
  </div>

  <% if post.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h3><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h3>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title, class: "form-control form-control-lg text", autofocus: true, placeholder: "오늘은 어떤 일이 있었나요?" %>
  </div>

  <div class="form-group">
    <%= form.text_field :tag_list, class: "form-control form-control-lg text-monospace", placeholder: "javascript, deploy, vuejs" %>
  </div>

  <div class="form-group">

  </div>

  <!--
  TODO: Bootstrap 스타일을 입혀야함
  <div class="form-group custom-file" style="margin-bottom: 1rem;">
    <%= form.file_field :cover, class: "custom-file-input", accept: 'image/png, image/jpeg, image/jpg' %>
    <label class="custom-file-label" for="customFile">커버를 추가할까요?</label>
  </div>
  -->

  <div class="form-group">
    <%= form.label :cover, "커버이미지" %>
    <%= form.file_field :cover %>
  </div>

  <div class="form-group">
    <%= form.rich_text_area :content, placeholder: "자유롭게 적어주세요", class: "bg-white text" %>
  </div>
<% end %>
