<div class="card mb-3">
  <% if post.cover.present? %>
    <%= image_tag post.cover.variant(resize: "650"), class: "card-img-top", style: "object-fit: contain;" %>
  <% end %>
  <div class="card-body">
      <h3 class="card-title">
        <%= post.title %>
      </h3>
      <div class="card-text">
        <div class="mb-2">
          <%= post.published_at %>
        </div>
        <div class="mb-2">
          <%= image_tag post.user.avatar(32) %>
          <%= post.user.username %>
        </div>
        <div>
          <%= render "components/tag_list", tags: post.tag_list %>
        </div>
        <div>
          댓글 : <%= post.comments.size %>
        </div>
      </p>
      <%= link_to  "읽어보기", post, class: "btn btn-outline-primary stretched-link" %>
    </div>
  </div>
</div>