<div class="card shadow-sm mb-3">
  <% if post.cover.present? %>
    <%= link_to post do %>
      <%= image_tag post.cover.variant(resize: "650"), class: "card-img-top", style: "object-fit: contain;" %>
    <% end %>
  <% end %>

  <div class="card-body">
    <%= link_to post, class: "text-dark" do %>
    <h3 class="card-title">
      <%= post.title %>
    </h3>
    <div class="card-text">
      <div class="mb-2">
        <%= link_to post.user, class: "text-dark" do %>
          <%= image_tag post.user.avatar(32), class: "img-fluid rounded" %>
          <%= post.user.username %>&nbsp;
        <% end %>
        <%= l post.published_at, format: :long %>
      </div>
      <div>
        <%= render "components/tag_list", tags: post.tag_list %>
      </div>
      <div>
        댓글 : <%= post.comments.size %>
      </div>
    </div>
    <% end %>
  </div>
</div>