<div class="row">
  <div class="col-3">col-3</div>
  <div class="col">
    <p id="notice"><%= notice %></p>

    <h1>Posts</h1>

    <div>
      <% @posts.each do |post| %>
        <div>
          <%= link_to post.title, post %> <br>
          <%= adorable_avatar(post.user.email, 36) %> <%= link_to post.user.email, user_path(post.user) %> <br>
          <%= post.created_at %>
          <%= post.published_at %>
        </div>
      <% end %>
    </div>
    <br>

    <%= link_to 'New Post', new_post_path %>
  </div>
  <%# Large 스크린 이상에서만 노출 %>
  <div class="col-3">col-3</div>
</div>
