<div class="row">
  <div class="col-3">col-3</div>
  <div class="col">
    <p id="notice"><%= notice %></p>

    <h1>Posts</h1>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Published</th>
          <th>Published at</th>
          <th>User</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= link_to post.title, post %></td>
            <td><%= post.published %></td>
            <td><%= post.published_at %></td>
            <td>
                <%= adorable_avatar(post.user.email, 36) %> <%= link_to post.user.email, user_path(post.user) %>
              </td>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Post', new_post_path %>
  </div>
  <%# Large 스크린 이상에서만 노출 %>
  <div class="col-3">col-3</div>
</div>
