<div class="row">
  <div class="col-12 col-md-3 col-lg-3 col-xl-2">
    <div style="position: sticky; top: calc(90px + 1rem);">
      <% if user_signed_in? %>
        <div class="card mb-3 shadow-sm">
          <%= link_to current_user, class: "text-dark text-decoration-none" do %>
          <div class="row no-gutters">
            <div class="col-md-4">
            <!-- TODO: 아바타를 보여줄 수 있도록 해야함 -->
            <%= image_tag current_user.avatar(100), class: 'mx-auto d-block' %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= current_user.username %></h5>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <!-- Favorites -->
        <div class="mb-3 border p-3 bg-white shadow-sm">
          <div class="text-center text">저장한 글</div>
          <ul class="list-unstyled overflow-auto" style="max-height: 320px;">
            <!-- FIXME: move to controller below -->
            <% if current_user.favorites.includes(:post).order(created_at: :desc).each do |favorite| %>
              <li class="text-dark"><%= link_to  favorite.post.title, favorite.post, class: "text text-dark" %></li>
            <% end.empty? %>
              <div class="text-center text">저장한 글이 없습니다.</div>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3 border p-3 bg-white shadow-sm">
        <div class="text-center text">
          태그
        </div>

        <ul class="list-unstyled overflow-auto" style="max-height: 320px;">
        <% @tags.each do |tag| %>
          <li><%= link_to "##{tag.name}", tag_path(tag.name.strip), class: "text-monospace text-dark" %></li>
        <% end %>
        </ul>
      </div>

      <div class="mb-3 border p-3 bg-white shadow-sm">
        <div class="text-center text">커뮤니티 스폰서</div>
        <div class="text-center">
          <%= link_to "첫번째 후원을 해주세요", sponsors_path %>
        </div>
      </div>
      <!-- Key links  -->
      <div class="my-3 border p-3 bg-white shadow-sm">
        <ul class="list-unstyled list-inline mb-0">
          <li class="list-inline-item"><%= link_to  "소개", about_path, class: "text-dark" %></li>
          <li class="list-inline-item"><%= link_to  "스폰서", sponsors_path, class: "text-dark" %></li>
          <li class="list-inline-item">스토어</li>
          <li class="list-inline-item"><%= link_to  "이용약관", terms_path, class: "text-dark" %></li>
          <li class="list-inline-item"><%= link_to  "개인정보", privacy_path, class: "text-dark" %></li>
          <li class="list-inline-item"><%= link_to  "문의하기", contact_path, class: "text-dark" %></li>
          <li class="list-inline-item"><%= link_to  "자주묻는질문", faq_path, class: "text-dark" %></li>
          <li class="list-inline-item"><%= link_to  "행동강령", code_of_conduct_path, class: "text-dark" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <p id="notice"><%= notice %></p>

    <h1 class="text-center title text-monospace"><%= @title %></h1>

    <div
      data-controller="posts"
      class="container posts-container"
      style="max-width: 650px;"
    >
      <div class="posts">
        <%= render @posts %>
      </div>
      <div id="paginate-load-more-button" style="display: none;">
        <%= will_paginate %>
      </div>
      <% if @posts.next_page %>
        <button id="load-more-post" class="btn btn-block btn-primary" data-action="click->posts#loadMore">더 보기</button>
      <% end %>
    </div>
    <br>
  </div>
  <%# Large 스크린 이상에서만 노출 %>
  <div class="d-none d-xl-block col-xl-2">
    <div style="position: sticky; top: calc(90px + 1rem);">
      <div class="mb-3 p-3 border bg-white shadow-sm">
        <div class="text-monospace">
          #help
        </div>
        <ul>
          <li>test</li>
        </ul>
        <div class="text-center">
          <%= link_to  "글쓰기", new_post_path(@post, tag: "help"), class: "btn btn-sm btn-outline-dark px-5" %>
        </div>
      </div>
      <div class="mb-3 p-3 border bg-white shadow-sm">
        <div class="text-monospace">
          #discuss
        </div>
        <ul>
          <li>test</li>
        </ul>
        <div class="text-center">
          <%= link_to  "글쓰기", new_post_path(@post, tag: "discuss"), class: "btn btn-sm btn-outline-dark px-5" %>
        </div>
      </div>
      <div class="mb-3 p-3 border bg-white shadow-sm">
        <div class="text-monospace">
          #ama
        </div>
        <ul>
          <li>test</li>
        </ul>
        <div class="text-center">
          <%= link_to  "글쓰기", new_post_path(@post, tag: "ama"), class: "btn btn-sm btn-outline-dark px-5" %>
        </div>
      </div>
    </div>
  </div>
</div>
