<% if notice.present? %>
  <div class="alert alert-warning"><%= notice %></div>
<% end %>
<div class="row justify-content-center">
  <div class="post col-10">
    <div class="post-details">
      <div class="post-header">
        <% if @post.cover.attached? %>
          <%= image_tag @post.cover, class: "img-fluid" %>
        <% end %>
        <h1 class="post-header-title"><%= @post.title %></h1>
        <div class="post-meta">
          <div class="post-meta-author">
            <%= adorable_avatar(@post.user.email, 30) %>
            <%= link_to @post.user.email, user_path(@post.user) %>
          </div>
          Published at <%= @post.published_at %>

          <div>
            <%= render "components/tag_list", tags: @post.tag_list %>
          </div>
        </div>
      </div>
      <div class="post-content">
        <%= @post.content %>
      </div>

      <hr>

      <div class="author" style="margin-bottom: 1rem;">
        <%= adorable_avatar(@post.user.email, 160) %>
        <%= link_to @post.user.email, user_path(@post.user) %>
      </div>
    </div>

    <div class="post-comments">
      <div class="post-comment-form">
        <strong>Comment</strong>
        <%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
          <div class="form-group">
            <%= form.text_area :body, class: "form-control", placeholder: "Add Your Oppinion." %>
          </div>
          <p class="text-right">
            <%= form.submit '남기기', class: "btn btn-primary" %>
          </p>
        <% end %>
      </div>

      <% @post.comments.each do |comment| %>
        <% if comment.id.present? %>
          <div class="comment">
            <div class="comment-author">
              <%= adorable_avatar(@post.user.email, 30) %>
              <%= link_to comment.user.email, user_path(comment.user) %>
              <%= comment.created_at %>
            </div>
            <div class="comment-body">
              <%= comment.body %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
