<% if notice.present? %>
  <div class="alert alert-warning"><%= notice %></div>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Tags: </strong>
  <% @post.tag_list.split(',').each do |tag|  %>
    <%= link_to tag.strip, tag_path(tag.strip) %>&nbsp;
  <% end %>
</p>
<p>
  <strong>Published:</strong>
  <%= @post.published %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @post.published_at %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<div>
  <strong>Comment</strong>

  <h2>Add a comment:</h2>
  <%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>

  <% @post.comments.each do |comment| %>
    <% if comment.id.present? %>
      <div><%= comment.body %> - <%= comment.user.email %></div>
    <% end %>
  <% end %>
</div>
