<div class="row justify-content-center" data-controller="post">
  <div class="post col-6 mb-5 px-0">
    <% if notice.present? %>
      <div class="alert alert-warning"><%= notice %></div>
    <% end %>
    <% if @post.cover.attached? %>
      <%= image_tag @post.cover, class: "img-fluid" %>
    <% end %>
    <div class="post-details border bg-white shadow-sm">
      <div class="post-header">
        <h1 class="post-header-title text"><%= @post.title %></h1>
        <div class="post-meta">
          <%= link_to @post.user, class: "post-meta-author text-dark text-decoration-none" do %>
            <%= image_tag @post.user.avatar(64), class: "rounded", width: 32, height: 32 %>
            <%= @post.user.username %>
          <% end %>
          <% if @post.published? %>
            <%= l @post.published_at, format: :long %>
          <% end %>

          <div class="my-3">
            <%= render "components/tag_list", tags: @post.tag_list %>
          </div>

          <div>
            <% if user_signed_in? %>
              <% if current_user.id == @post.user.id %>
                <% if @post.published? %>
                <%= link_to '발행취소', unpublish_post_path(@post), method: :put %>
                <% else %>
                <div class="bg-warning p-3">
                  이 글은 아직 공개되지 않았습니다.
                  <%= link_to '여기', publish_post_path(@post), method: :put %>를 눌러 공개하세요!
                </div>
                <% end %>
                <%= link_to "수정하기", edit_post_path(@post) %>
              <% end %>
              <% if current_user.favorited?(@post) %>
                <%= link_to "저장한 글에서 제거", post_favorite_path(@post.id), method: :delete %>
              <% else %>
                <%= link_to "저장한 글에 추가", post_favorite_path(@post.id), method: :post %>
              <% end %>

            <% end %>
          </div>
        </div>
      </div>
      <div class="post-content text p-3">
        <%= @post.content %>
      </div>

      <hr>
      <%= link_to @post.user, class: "text-dark text-decoration-none" do %>
        <div class="author bg-light">
          <div class="user-show-details-avatar mr-3">
            <%= image_tag @post.user.avatar(160), class: "rounded img-fluid", width: 80, height: 80 %>
          </div>
          <div class="user-show-details-meta">
            <h4><%= @post.user.username %></h4>
            <p><%= @post.user.user_profile.bio %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="post-comments">
      <div data-target="post.commentList">
        <%= render partial: "comments/comment", collection: @post.comments, as: @comment %>
      </div>
      <% if @post.published? %>
      <div class="post-comment-form mt-3 border bg-white">
        <strong>댓글 남기기</strong>
        <%= form_with(model: [ @post, @post.comments.build ], remote: true, html: { data: { type: "html", action: "ajax:success->post#onPostSuccess ajax:error->post#onPostError" } }) do |form| %>
          <div class="form-group">
            <%= form.text_area :body, class: "form-control text", placeholder: "욕설, 비방, 험담을 하지마세요!", data: { target: "post.message" }, size: "30x5" %>
          </div>
          <p class="text-right p-0 m-0">
            <%= form.submit "남기기", class: "btn btn-dark" %>
          </p>
        <% end %>
      </div>
      <% else %>
      <div class="bg-warning p-3">
        이 글은 아직 공개되지 않았습니다.
        <%= link_to '여기', publish_post_path(@post), method: :put %>를 눌러 공개하세요!
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-2">
    <div class="sticky">
      <%= render @user %>
    </div>
  </div>
</div>
