<div class="row justify-content-center">
  <% if notice.present? %>
    <div class="alert alert-warning"><%= notice %></div>
  <% end %>
  <div class="post col-10" style="max-width: 650px;">
    <% if @post.cover.attached? %>
      <%= image_tag @post.cover, class: "img-fluid" %>
    <% end %>
    <div class="post-details">
      <div class="post-header">
        <h1 class="post-header-title"><%= @post.title %></h1>
        <div class="post-meta">
          <div class="post-meta-author">
            <%= image_tag @post.user.avatar(64), class: "rounded", width: 32, height: 32 %>
            <%= link_to @post.user.username, user_path(@post.user) %>
          </div>
          <% if @post.published? %>
            Published at <%= @post.published_at %>
          <% end %>

          <div>
            <%= render "components/tag_list", tags: @post.tag_list %>
          </div>

          <% if user_signed_in? %>
            <% if current_user.id == @post.user.id %>
              <% if @post.published? %>
              <%= link_to '발행취소', unpublish_post_path(@post), method: :put %>
              <% else %>
              <%= link_to '발행하기', publish_post_path(@post), method: :put %>
              <% end %>
            <% end %>
            <% if current_user.favorited?(@post) %>
              <%= link_to "저장취소", post_favorite_path(@post.id), method: :delete %>
            <% else %>
              <%= link_to "저장하기", post_favorite_path(@post.id), method: :post %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="post-content">
        <%= @post.content %>
      </div>

      <hr>

      <div class="author bg-light">
        <div class="user-show-details-avatar">
          <%= image_tag @post.user.avatar(160), class: "rounded img-fluid", width: 80, height: 80 %>
        </div>
        <div class="user-show-details-meta">
          <% if @post.user.username.present? %>
            <h4><%= @post.user.username %></h4>
          <% else %>
            <h4><%= @post.user.email %></h4>
          <% end %>
        </div>
      </div>
    </div>

    <div class="post-comments">
      <div class="post-comment-form">
        <strong>Comment</strong>
        <%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
          <div class="form-group">
            <%= form.text_area :body, class: "form-control", placeholder: "Add Your Oppinion." %>
          </div>
          <p class="text-right">
            <%= form.submit '남기기', class: "btn btn-primary" %>
          </p>
        <% end %>
      </div>

      <% @post.comments.each do |comment| %>
        <% if comment.id.present? %>
          <div class="comment">
          <div class="comment-author">
              <% if comment.user.user_profile.avatar.attached? %>
                <%= image_tag comment.user.user_profile.avatar, class: "img-fluid", width: 30, height: 30 %>
              <% else %>
                <%= adorable_avatar(comment.user.email, 30) %>
              <% end %>
              <% if comment.user.username.present? %>
                <%= link_to comment.user.username, user_path(comment.user) %>
              <% else %>
                <%= link_to comment.user.email, user_path(comment.user) %>
              <% end %>
              <%= comment.created_at %>
            </div>
            <div class="comment-body">
              <%= comment.body %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
